<div class="card text-center">
  <div class="card-header">
    Projeto Obras Bibliográficas
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="replaceName()">
      <div class="form-group">
        <input type="name" class="form-control" formControlName="name" placeholder="Nome do autor">
        <small *ngIf="formSubmit && form.status === 'VALID'" class="form-text text-muted">Total de nomes fornecidos:
          {{totalNames}}</small>
        <small class="error" *ngIf="form.get('name').hasError('required') && formSubmit">Por favor, Digite um
          nome</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="result">
      </div>
      <button type="submit" class="btn btn-primary">Formatar</button>
    </form>
  </div>
</div>
